{% extends 'base.html.twig' %}

{% block title %} Liste des {{type}}{% endblock %}


{% block body %}
<style>
td,th{
 border: solid 1px;
    
}
table{
    width: 80%;
}
a{
    text-decoration: none;
    color: black;
}
</style>
    <h1>Admin</h1>

    <table>
    <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Adresse mail</th>
    </tr>
        {% for Admin in Admins %}
            <tr>
                <td><a href="">{{ Admin.id }}</a></td>
                <td><a href="">{{ Admin.nom }}</a></td>
                <td><a href="">{{ Admin.prenom }}</a></td>
                <td><a href="">{{ Admin.email }}</a></td>
                
            </tr>
    
    {% endfor %}
    </table>
    {% if type == 'Administrateurs'%}
    <a href="/admin/nouveladmin">
    <button type=button> Ajouter un {{type}}</button></a>
    {% else %}
    <a href="/admin/nouvelenseignant">
    <button type=button> Ajouter un {{type}}</button></a>
    {% endif %}
{% endblock %}
