{% extends 'base.html.twig' %}

{% block title %} Liste de mes élèves{% endblock %}


{% block body %}
<style>
td,th{
 border: solid 1px;
    
}
table{
    width: 80%;
}
a{
    text-decoration: none;
    color: black;
}
</style>
    <h1>Admin</h1>

    <table>
    <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Classe</th>
    </tr>
        {% for Admin in app.user.eleves %}
            <tr>
                <td><a href="">{{ Admin.id }}</a></td>
                <td><a href="">{{ Admin.nom }}</a></td>
                <td><a href="">{{ Admin.prenom }}</a></td>
                <td><a href="">{{ Admin.classe }}</a></td>
                <td><a href="">{{ Admin.formation}}</a></td>
                <td><a href="/enseignants/noterelevecap/{{Admin.id}}"><button class="btn btn-lg btn-primary">Noter</button></a></td>
                
            </tr>
    
    {% endfor %}
    </table>
{% endblock %}